// global
$text-highlight-color: #47e10d
$text-highlight-background: #000000

// header
$menu-border-color: #a60000

// events
$filter-circle-border-color: #000000
$event-line-color: #eeeeee
$bot-event-bullet-color: #af0000
$dojo-event-bullet-color: #1616b9
$event-bullet-border: #ffffff
$event-background-color: $event-line-color
$button-border-color: #000000
