$dark-blue: #122c3a
$light-blue: #deeaf6
$dark-red: #a60000
$dark-yellow: #c7b800
$black: #000000 // do not use for text, contrast is too high

// text colors
$text-color-light: #ffffff
$text-color-dark: #333333
$light-green: #47e10d

// events
$event-line-color: #eeeeee
$event-background-color: $event-line-color
$event-bullet-border: #ffffff
