.filter-wrapper
    display: flex

    @media #{$mq-small}
        flex-direction: column
        padding: 30px $side-spacing-small 0

    @media #{$mq-medium-large}
        justify-content: center

    @media #{$mq-medium}
        padding: 100px $side-spacing-medium 0

    @media #{$mq-large}
        padding: 100px $side-spacing-large 0

.filter
    $icon-size: 30px
    color: $text-color-light

    @media #{$mq-small}
        margin-top: 30px

    @media #{$mq-medium}
        margin: 0 50px

    @media #{$mq-large}
        margin: 0 100px

    &__title
        +text-font-large
        margin-bottom: 10px

    &__group
        display: flex
        flex-direction: column

    &__checkbox
        display: none

    &__label
        +text-font
        position: relative
        padding-left: $icon-size + 15px
        text-decoration: line-through
        display: block
        margin: 20px 0

        &::before
            content: ''
            display: block
            position: absolute
            left: 0
            top: 50%
            transform: translateY(-50%)
            width: $icon-size
            height: $icon-size
            border: 1px solid $text-color-light
            border-radius: 50%

    &__checkbox:checked + .filter__label
        text-decoration: none

    &__checkbox:checked + .filter__label::before
            background: url(../icons/checkmark.svg)
            background-size: $icon-size - 10px
            background-position: 50% 50%
            background-repeat: no-repeat



.events
    font-family: Courier New, Courier, monospace
    color: $text-color-dark
    display: flex
    flex-direction: column
    position: relative
    min-height: 100vh

    @media #{$mq-small}
        margin-top: 30px

    @media #{$mq-medium-large}
        align-items: center
        margin-top: 75px

    // timeline
    &::before
        content: ''
        position: absolute
        top: 0
        bottom: 0
        width: $timeline-width
        background: $event-line-color

        @media #{$mq-small}
            left: $timeline-left-position-mobile
        @media #{$mq-medium-large}
            left: 50%
            transform: translateX(-50%)



.event
    position: relative

    @media #{$mq-small}
        margin: 25px $side-spacing-small 25px $timeline-left-position-mobile + $timeline-width / 2
        padding: 10px 10px 9vw $event-timeline-gap-mobile + 10px
        max-width: 500px

    @media #{$mq-medium-large}
        margin: 40px 0
        transform: translateX(50%)
        padding: $event-vertical-padding-desktop $event-horizontal-padding-desktop

        &:nth-of-type(2n)
            padding-left: $event-timeline-gap-desktop + $event-horizontal-padding-desktop

        // move every second event to the left
        &:nth-of-type(2n - 1)
            transform: translateX(-50%)
            padding-right: $event-timeline-gap-desktop + $event-horizontal-padding-desktop

    @media #{$mq-medium}
        width: 45%

    @media #{$mq-large}
        width: 500px

    // timeline bullet
    &::before
        content: ''
        position: absolute
        top: 50%
        right: 100%
        transform: translate(50%, -50%)
        border-style: solid
        border-color: $event-bullet-border
        border-radius: 50%

        @media #{$mq-small}
            width: 22px
            height: 22px
            border-width: 3px

        @media #{$mq-medium-large}
            width: 45px
            height: 45px
            border-width: 6px

    // move every second event to the left
    @media #{$mq-medium-large}
        &:nth-of-type(2n - 1)::before
            left: 100%
            right: 0
            transform: translate(-50%, -50%)

    // event types
    &--bot::before
        background: $dark-red

    &--dojo::before
        background: $dark-yellow

    &__date
        +title-font
        margin: 6px 0

    &__name
        +subtitle-font
        margin-bottom: 12px

    &__location
        +subtitle-font
        display: flex
        align-items: center

        &::before
            $icon-size: 20px
            content: ''
            display: inline-block
            width: $icon-size
            height: $icon-size
            background: url(../icons/location.svg)
            background-size: $icon-size $icon-size
            background-repeat: no-repeat
            padding-right: 10px

    &__open-more-information
        +text-font
        font-family: Courier New, Courier, monospace
        background: transparent
        border: 2px solid $text-color-dark
        height: 40px

        @media #{$mq-small}
            width: 100%
            margin: 25px 0 0

        @media #{$mq-medium-large}
            width: 180px
            margin: 40px 0 20px

    &__more-information
        +text-font
        display: block
        margin: 10px 0
        
        &--hidden
            display: none

    &__outer-background,
    &__inner-background
        z-index: -1
        position: absolute
        top: 0
        bottom: 0
        right: 0
    
    &__outer-background
        overflow: hidden
        left: 0

        &::after
            content: ''
            position: absolute
            top: 50%
            transform: translateY(-50%)
            border-style: solid
            border-width: 25px 25px 25px 0
            border-color: transparent $event-background-color transparent transparent

            @media #{$mq-small}
                left: $event-timeline-gap-mobile / 2

            @media #{$mq-medium-large}
                right: calc(100% - 1px - #{$event-timeline-gap-desktop})

    @media #{$mq-medium-large}
        // move every second event to the left
        &:nth-of-type(2n - 1) .event__outer-background::after
            left: calc(100% - 1px - #{$event-timeline-gap-desktop})
            right: 0
            border-width: 25px 0 25px 25px
            border-color: transparent transparent transparent $event-background-color

    &__inner-background
        background-color: $event-background-color
        transform: skewY($skew-degree)
        transform-origin: top left

        @media #{$mq-small}
            left: $event-timeline-gap-mobile

        @media #{$mq-medium-large}
            left: $event-timeline-gap-desktop

    @media #{$mq-medium-large}
        // move every second event to the left
        &:nth-of-type(2n - 1) .event__inner-background
            right: $event-timeline-gap-desktop
            left: 0
