// colors
$filter-circle-border-color: #000000
$event-line-color: #eeeeee
$bot-event-bullet-color: #af0000
$dojo-event-bullet-color: #1616b9
$event-bullet-border: #ffffff

body
    font-family: Arial, Helvetica, sans-serif

.filter
    $icon-size: 30px

    &__group
        display: flex
        justify-content: space-around
        align-items: center
        height: 50px
        margin-bottom: 20px

    &__checkbox
        display: none

    &__label
        font-size: 20px
        position: relative
        padding-left: $icon-size + 10px
        text-decoration: line-through

        &::before
            content: ''
            display: block
            position: absolute
            left: 0
            top: 50%
            transform: translateY(-50%)
            width: $icon-size
            height: $icon-size
            border: 1px solid $filter-circle-border-color
            border-radius: 50%

    &__checkbox:checked + .filter__label
        text-decoration: none

    &__checkbox:checked + .filter__label::before
        background: url(../icons/checkmark.svg)
        background-size: $icon-size - 10px
        background-position: 50% 50%
        background-repeat: no-repeat

.events
    font-family: Courier New, Courier, monospace
    display: flex
    flex-direction: column
    align-items: center
    position: relative
    min-height: 100vh

    // timeline
    &::before
        content: ''
        position: absolute
        top: 0
        bottom: 0
        left: 50%
        border-left: 10px solid $event-line-color
        transform: translateX(-50%)

.event
    margin: 100px 0
    position: relative

    &:nth-of-type(2n)
        transform: translateX(50%)
        padding-left: 60px

        &::before
            right: 100%
            transform: translate(50%, -50%)

    &:nth-of-type(2n - 1)
        transform: translateX(-50%)
        padding-right: 60px

        &::before
            left: 100%
            transform: translate(-50%, -50%)

    // timeline bullet
    &::before
        content: ''
        position: absolute
        top: 50%
        border: 7px solid $event-bullet-border
        border-radius: 50%
        width: 50px
        height: 50px

    &--bot::before
        background: $bot-event-bullet-color

    &--dojo::before
        background: $dojo-event-bullet-color

    &__date
        font-size: 30px
        font-weight: bold
        margin-bottom: 5px

    &__name
        font-size: 25px
        margin-bottom: 20px

    &__location
        font-size: 20px
        display: flex
        align-items: center

        &::before
            $icon-size: 20px
            content: ''
            display: inline-block
            width: $icon-size
            height: $icon-size
            background: url(../icons/location.svg)
            background-size: $icon-size $icon-size
            background-repeat: no-repeat
            padding-right: 10px
