*
    box-sizing: border-box

*::selection
    color: $light-green
    background: $black

body
    font-family: Arial, Helvetica, sans-serif
    font-size: 20px
    background: $dark-blue

a
    color: inherit
