.menu
    position: fixed
    z-index: 10
    width: 100%
    display: flex
    align-items: center
    background: #122c3a
    border-bottom: 5px solid $menu-border-color

    @media #{$mq-phone}
        flex-direction: column

    @media #{$mq-tablet}
        justify-content: space-around
        height: calc(50px + 10px) // 10px padding
        padding-top: 10px

.menu-item
    padding: 10px

.menu-item--logo
    align-self: flex-start

.menu-item__link
    text-decoration: none
    color: #ffffff
    font-weight: bold

.menu-item__link:hover
    text-decoration: underline

.menu-item__logo
    max-width: 130px
    align-self: auto



.slideshow
    position: relative
    height: 50vw
    max-height: 90vh
    min-height: 350px
    width: 100%

.slideshow__title
    position: absolute
    left: 0
    width: 100%
    text-align: center
    padding: 0 10px
    top: 50%
    transform: translateY(-50%)
    z-index: 1
    font-size: 40px
    color: #122c3a

.slideshow__image
    position: absolute
    top: 0
    left: 0
    min-width: 100%
    z-index: -1
    min-height: 110% // due to skewY effect

// shrink image on both sites if no space
@supports (object-fit: cover)
    .slideshow__image
        width: 100%
        object-fit: cover
        object-position: 50% 50%

.slideshow__fade-out
    content: ""
    position: absolute
    top: 0
    height: 110% // due to skewY effect
    left: 0
    width: 100%
    background: rgba(255, 255, 255, 0.5)
    z-index: 0

.slideshow__lazy-laod
    visibility: hidden
