body {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    background: #deeaf6;
    font-size: 20px;
}

/*  ----------------- menu ----------------- */
.menu {
    display: flex;
    justify-content: space-between;
}

.menu-item {
    padding: 10px;
}

.menu-item__link {
    text-decoration: none;
}

.menu-item__link:hover {
    text-decoration: underline;
}

/*  ----------------- slideshow ----------------- */
.slideshow {
    height: 100px;
}

/*  ----------------- topic ----------------- */
.topic {
    transform: skewY(-4deg);
    padding: 100px 20px;
    text-align: center;
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (min-width: 650px) {
    .topic {
        padding: 100px 50px;
    }
}

.topic--beer-on-tuesday, /* maybe nth-of-type */
.topic--about-us {
    background: #122c3a;
    color: #deeaf6;
}
.topic--dojo,
.topic--contact {
    background: #deeaf6;
    color: #122c3a;
}

.topic__inner {
    transform: skewY(4deg);
}

.topic__text-wrapper {
    order: 1;
    margin: auto;
    line-height: 1.25;
}
@media (min-width: 650px) {
    .topic__text-wrapper {
        flex: 1 1 50%;
        order: 0;
    }
}

.topic__title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}

.topic__text {
    max-width: 650px;
    margin: auto;
}

.topic__image-wrapper {
    flex: 1 1 50%;
}

.topic__image {
    max-width: 150px;
    height: auto;
    width: auto;
    margin: 50px;
}

/*  ----------------- layout ----------------- */

.two-column-large-one-column-small {
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (min-width: 650px) {
    .two-column-large-one-column-small {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
}
