body {
  font-family: Arial, Helvetica, sans-serif;
}

.filter-wrapper {
  display: flex;
  justify-content: space-around;
}
@media only screen and (max-width: 767px) {
  .filter-wrapper {
    flex-direction: column;
  }
}

.filter {
  margin: 20px;
}
.filter__title {
  margin: 20px 0;
}
@media only screen and (max-width: 767px) {
  .filter__title {
    font-size: 24px;
  }
}
@media only screen and (min-width: 768px) {
  .filter__title {
    font-size: 30px;
  }
}
.filter__group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.filter__checkbox {
  display: none;
}
.filter__label {
  position: relative;
  padding-left: 40px;
  text-decoration: line-through;
  display: block;
  margin: 20px 0;
}
@media only screen and (max-width: 767px) {
  .filter__label {
    font-size: 18px;
  }
}
@media only screen and (min-width: 768px) {
  .filter__label {
    font-size: 20px;
  }
}
.filter__label::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  border: 1px solid #000000;
  border-radius: 50%;
}
.filter__checkbox:checked + .filter__label {
  text-decoration: none;
}
.filter__checkbox:checked + .filter__label::before {
  background: url(../icons/checkmark.svg);
  background-size: 20px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.events {
  font-family: Courier New, Courier, monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  min-height: 100vh;
}
.events::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  border-left: 10px solid #eeeeee;
  transform: translateX(-50%);
}
@media only screen and (max-width: 767px) {
  .events {
    transform: translateX(-40%);
  }
}

.event {
  position: relative;
  transform: translateX(50%);
  /* ----- start background ----- */
  /* ----- end background ----- */
}
@media only screen and (max-width: 767px) {
  .event {
    margin: 50px 0;
    width: 50%;
    padding: 30px 20px 30px 80px;
  }
}
@media only screen and (min-width: 768px) {
  .event {
    margin: 75px 0;
    width: 30vw;
    padding: 60px 30px 60px 90px;
  }
  .event:nth-of-type(2n - 1) {
    transform: translateX(-50%);
    padding: 60px 90px 60px 30px;
  }
}
.event::before {
  content: "";
  position: absolute;
  top: 50%;
  border: 7px solid #ffffff;
  border-radius: 50%;
  right: 100%;
  transform: translate(50%, -50%);
}
@media only screen and (max-width: 767px) {
  .event::before {
    width: 30px;
    height: 30px;
  }
}
@media only screen and (min-width: 768px) {
  .event::before {
    width: 50px;
    height: 50px;
  }
}
@media only screen and (min-width: 768px) {
  .event:nth-of-type(2n - 1)::before {
    left: 100%;
    right: 0;
    transform: translate(-50%, -50%);
  }
}
.event--bot::before {
  background: #af0000;
}
.event--dojo::before {
  background: #1616b9;
}
.event__date {
  font-weight: bold;
  margin-bottom: 5px;
}
@media only screen and (max-width: 767px) {
  .event__date {
    font-size: 24px;
  }
}
@media only screen and (min-width: 768px) {
  .event__date {
    font-size: 30px;
  }
}
.event__name {
  margin-bottom: 20px;
}
@media only screen and (max-width: 767px) {
  .event__name {
    font-size: 20px;
  }
}
@media only screen and (min-width: 768px) {
  .event__name {
    font-size: 25px;
  }
}
.event__location {
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 767px) {
  .event__location {
    font-size: 18px;
  }
}
@media only screen and (min-width: 768px) {
  .event__location {
    font-size: 20px;
  }
}
.event__location::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(../icons/location.svg);
  background-size: 20px 20px;
  background-repeat: no-repeat;
  padding-right: 10px;
}
.event__outer-background, .event__inner-background {
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.event__outer-background {
  overflow: hidden;
}
.event__outer-background::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-style: solid;
  right: calc(100% - 1px - 60px);
  border-width: 25px 25px 25px 0;
  border-color: transparent #eeeeee transparent transparent;
}
@media only screen and (min-width: 768px) {
  .event:nth-of-type(2n - 1) .event__outer-background::after {
    left: calc(100% - 1px - 60px);
    right: 0;
    border-width: 25px 0 25px 25px;
    border-color: transparent transparent transparent #eeeeee;
  }
}
.event__inner-background {
  background-color: #eeeeee;
  transform: skewY(-4deg);
  transform-origin: top left;
  left: 60px;
}
@media only screen and (min-width: 768px) {
  .event:nth-of-type(2n - 1) .event__inner-background {
    right: 60px;
    left: 0;
  }
}
.event__open-more-information {
  margin: 40px 0 20px;
  background: transparent;
  border: 2px solid #000000;
  height: 40px;
}
@media only screen and (max-width: 767px) {
  .event__open-more-information {
    font-size: 18px;
  }
}
@media only screen and (min-width: 768px) {
  .event__open-more-information {
    font-size: 20px;
  }
}
@media only screen and (max-width: 767px) {
  .event__open-more-information {
    width: 100%;
  }
}
@media only screen and (min-width: 768px) {
  .event__open-more-information {
    width: 180px;
  }
}
.event__more-information {
  display: block;
}
@media only screen and (max-width: 767px) {
  .event__more-information {
    font-size: 16px;
  }
}
@media only screen and (min-width: 768px) {
  .event__more-information {
    font-size: 18px;
  }
}
.event__more-information--hidden {
  display: none;
}

/*# sourceMappingURL=events.css.map */
