* {
  box-sizing: border-box;
}

*::selection {
  color: #47e10d;
  background: #000000;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  background: #122c3a;
}

a {
  color: inherit;
}

.two-column-large-one-column-small {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 650px) {
  .two-column-large-one-column-small {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
}
.header {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #122c3a;
  border-bottom: 5px solid #a60000;
  box-shadow: 0 3px 5px 0px rgba(0, 0, 0, 0.1);
}
.header__logo-link-wrapper {
  text-decoration: none;
}
.header__logo-img {
  padding-top: 63px;
  margin-left: 5vw;
}
@media only screen and (max-width: 767px) {
  .header__logo-img {
    width: 130px;
  }
}
@media only screen and (min-width: 768px) {
  .header__logo-img {
    width: 160px;
  }
}

.hamburger-button {
  font-size: 24px;
  border: none;
  background: none;
  outline: none;
  align-items: center;
  color: #ffffff;
  height: 100%;
}
@media only screen and (max-width: 767px) {
  .hamburger-button {
    display: flex;
  }
}
@media only screen and (min-width: 768px) {
  .hamburger-button {
    display: none;
  }
}
.hamburger-button__icon-wrapper {
  width: 40px;
  min-width: 40px;
  margin: 0 15px;
}
.hamburger-button__icon-line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 4px;
  margin: 7px 0;
  background-color: #ffffff;
  transition: transform 0.3s ease-in-out;
}
.hamburger-button--open .hamburger-button__icon-line--top {
  transform: translateY(11px) rotate(45deg);
}
.hamburger-button--open .hamburger-button__icon-line--center {
  transform: scale(0);
}
.hamburger-button--open .hamburger-button__icon-line--bottom {
  transform: translateY(-11px) rotate(-45deg);
}

.menu {
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 767px) {
  .menu {
    position: fixed;
    flex-direction: column;
    overflow: auto;
    top: 65px;
    height: calc(100vh - 65px);
    width: 100%;
    background: #122c3a;
    color: #ffffff;
    transform: translateX(100%);
    transition: transform 0.3s ease-out;
    padding: 30px 0;
  }
  .menu--open {
    transform: none;
  }
}
@media only screen and (min-width: 768px) {
  .menu {
    height: 100%;
  }
}
@media only screen and (max-width: 767px) {
  .menu__item {
    width: 100%;
    text-align: center;
  }
}
@media only screen and (min-width: 768px) {
  .menu__item {
    height: 100%;
  }
}
.menu__item-link {
  font-size: 24px;
  text-decoration: none;
  color: #ffffff;
}
@media only screen and (max-width: 767px) {
  .menu__item-link {
    display: block;
    width: 100%;
    padding: 20px 0;
  }
}
@media only screen and (min-width: 768px) {
  .menu__item-link {
    font-weight: bold;
    height: 100%;
    display: flex;
    align-items: center;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .menu__item-link {
    padding: 0 6vw;
  }
}
@media only screen and (min-width: 1024px) {
  .menu__item-link {
    padding: 0 7vw;
  }
  .menu__item-link:hover {
    background: #a60000;
  }
}
.menu__item-link--active {
  background: #a60000;
}

.slideshow {
  position: relative;
  height: 50vw;
  max-height: 90vh;
  min-height: 350px;
  width: 100%;
}

.slideshow__title {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 0 10px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  font-size: 40px;
  color: #122c3a;
}

.slideshow__image {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  z-index: -1;
  min-height: 110%;
}

@supports (object-fit: cover) {
  .slideshow__image {
    width: 100%;
    object-fit: cover;
    object-position: 50% 50%;
  }
}
.slideshow__fade-out {
  content: "";
  position: absolute;
  top: 0;
  height: 110%;
  left: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.5);
  z-index: 0;
}

.slideshow__lazy-laod {
  visibility: hidden;
}

.topic {
  transform: skewY(-4deg);
  padding: 100px 20px;
  text-align: center;
  min-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 650px) {
  .topic {
    padding: 100px 50px;
  }
}
.topic:nth-of-type(odd),
.topic:nth-of-type(odd) + .stop-skew-effect {
  background: #122c3a;
  color: #deeaf6;
}

.topic:nth-of-type(even),
.topic:nth-of-type(even) + .stop-skew-effect {
  background: #deeaf6;
  color: #122c3a;
}

.stop-skew-effect {
  width: 100%;
  height: calc(2vw * 4);
  margin-top: calc(-1vw * 4);
}

.topic__inner {
  transform: skewY(4deg);
}

.topic__text-wrapper {
  order: 1;
  margin: auto;
  line-height: 1.25;
}

@media (min-width: 650px) {
  .topic__text-wrapper {
    flex: 1 1 50%;
    order: 0;
  }
}
.topic__title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}

.topic__text {
  max-width: 650px;
  margin: auto;
}

.topic__image-wrapper {
  flex: 1 1 50%;
}

.topic__image {
  max-width: 150px;
  height: auto;
  width: auto;
  margin: 50px;
}

.filter-wrapper {
  display: flex;
  justify-content: space-around;
}
@media only screen and (max-width: 767px) {
  .filter-wrapper {
    flex-direction: column;
  }
}

.filter {
  margin: 20px;
  color: #ffffff;
}
.filter__title {
  margin: 20px 0;
}
@media only screen and (max-width: 767px) {
  .filter__title {
    font-size: 24px;
  }
}
@media only screen and (min-width: 768px) {
  .filter__title {
    font-size: 30px;
  }
}
.filter__group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.filter__checkbox {
  display: none;
}
.filter__label {
  position: relative;
  padding-left: 40px;
  text-decoration: line-through;
  display: block;
  margin: 20px 0;
}
@media only screen and (max-width: 767px) {
  .filter__label {
    font-size: 18px;
  }
}
@media only screen and (min-width: 768px) {
  .filter__label {
    font-size: 20px;
  }
}
.filter__label::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  border: 1px solid #ffffff;
  border-radius: 50%;
}
.filter__checkbox:checked + .filter__label {
  text-decoration: none;
}
.filter__checkbox:checked + .filter__label::before {
  background: url(../icons/checkmark.svg);
  background-size: 20px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.events {
  font-family: Courier New, Courier, monospace;
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
}
@media only screen and (min-width: 768px) {
  .events {
    align-items: center;
  }
}
.events::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  border-left: 10px solid #eeeeee;
  transform: translateX(-50%);
}
@media only screen and (max-width: 767px) {
  .events::before {
    left: 40px;
  }
}

.event {
  position: relative;
  /* ----- start background ----- */
  /* ----- end background ----- */
}
@media only screen and (max-width: 767px) {
  .event {
    margin: 50px 40px;
    padding: 30px 20px 30px 80px;
  }
}
@media only screen and (min-width: 768px) {
  .event {
    transform: translateX(50%);
    margin: 75px 0;
    width: 30vw;
    padding: 60px 30px 60px 90px;
  }
  .event:nth-of-type(2n - 1) {
    transform: translateX(-50%);
    padding: 60px 90px 60px 30px;
  }
}
.event::before {
  content: "";
  position: absolute;
  top: 50%;
  border: 7px solid #ffffff;
  border-radius: 50%;
  right: 100%;
  transform: translate(50%, -50%);
}
@media only screen and (max-width: 767px) {
  .event::before {
    width: 30px;
    height: 30px;
  }
}
@media only screen and (min-width: 768px) {
  .event::before {
    width: 50px;
    height: 50px;
  }
}
@media only screen and (min-width: 768px) {
  .event:nth-of-type(2n - 1)::before {
    left: 100%;
    right: 0;
    transform: translate(-50%, -50%);
  }
}
.event--bot::before {
  background: #af0000;
}
.event--dojo::before {
  background: #1616b9;
}
.event__date {
  font-weight: bold;
  margin-bottom: 5px;
}
@media only screen and (max-width: 767px) {
  .event__date {
    font-size: 24px;
  }
}
@media only screen and (min-width: 768px) {
  .event__date {
    font-size: 30px;
  }
}
.event__name {
  margin-bottom: 20px;
}
@media only screen and (max-width: 767px) {
  .event__name {
    font-size: 20px;
  }
}
@media only screen and (min-width: 768px) {
  .event__name {
    font-size: 25px;
  }
}
.event__location {
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 767px) {
  .event__location {
    font-size: 18px;
  }
}
@media only screen and (min-width: 768px) {
  .event__location {
    font-size: 20px;
  }
}
.event__location::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(../icons/location.svg);
  background-size: 20px 20px;
  background-repeat: no-repeat;
  padding-right: 10px;
}
.event__outer-background, .event__inner-background {
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.event__outer-background {
  overflow: hidden;
}
.event__outer-background::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-style: solid;
  right: calc(100% - 1px - 60px);
  border-width: 25px 25px 25px 0;
  border-color: transparent #eeeeee transparent transparent;
}
@media only screen and (min-width: 768px) {
  .event:nth-of-type(2n - 1) .event__outer-background::after {
    left: calc(100% - 1px - 60px);
    right: 0;
    border-width: 25px 0 25px 25px;
    border-color: transparent transparent transparent #eeeeee;
  }
}
.event__inner-background {
  background-color: #eeeeee;
  transform: skewY(-4deg);
  transform-origin: top left;
  left: 60px;
}
@media only screen and (min-width: 768px) {
  .event:nth-of-type(2n - 1) .event__inner-background {
    right: 60px;
    left: 0;
  }
}
.event__open-more-information {
  margin: 40px 0 20px;
  background: transparent;
  border: 2px solid #000000;
  height: 40px;
}
@media only screen and (max-width: 767px) {
  .event__open-more-information {
    font-size: 18px;
  }
}
@media only screen and (min-width: 768px) {
  .event__open-more-information {
    font-size: 20px;
  }
}
@media only screen and (max-width: 767px) {
  .event__open-more-information {
    width: 100%;
  }
}
@media only screen and (min-width: 768px) {
  .event__open-more-information {
    width: 180px;
  }
}
.event__more-information {
  display: block;
}
@media only screen and (max-width: 767px) {
  .event__more-information {
    font-size: 16px;
  }
}
@media only screen and (min-width: 768px) {
  .event__more-information {
    font-size: 18px;
  }
}
.event__more-information--hidden {
  display: none;
}

/*# sourceMappingURL=styles.css.map */
