* {
  box-sizing: border-box;
}

*::selection {
  color: #47e10d;
  background: #000000;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  background: #122c3a;
  padding-top: 65px;
}

a {
  color: inherit;
}

.header {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #122c3a;
  border-bottom: 5px solid #a60000;
  box-shadow: 0 3px 5px 0px rgba(0, 0, 0, 0.1);
}
.header__logo-link-wrapper {
  text-decoration: none;
}
.header__logo-img {
  padding-top: 63px;
}
@media only screen and (max-width: 767px) {
  .header__logo-img {
    width: 130px;
    margin-left: 25px;
  }
}
@media only screen and (min-width: 768px) {
  .header__logo-img {
    width: 160px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .header__logo-img {
    margin-left: 6vw;
  }
}
@media only screen and (min-width: 1024px) {
  .header__logo-img {
    margin-left: 7vw;
  }
}

.hamburger-button {
  font-size: 24px;
  border: none;
  background: none;
  outline: none;
  align-items: center;
  color: #ffffff;
  height: 100%;
  padding-right: 25px;
}
@media only screen and (max-width: 767px) {
  .hamburger-button {
    display: flex;
  }
}
@media only screen and (min-width: 768px) {
  .hamburger-button {
    display: none;
  }
}
.hamburger-button__icon-wrapper {
  width: 40px;
  min-width: 40px;
  margin: 0 0 0 15px;
}
.hamburger-button__icon-line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 4px;
  margin: 7px 0;
  background-color: #ffffff;
  transition: transform 0.3s ease-in-out;
}
.hamburger-button--open .hamburger-button__icon-line--top {
  transform: translateY(11px) rotate(45deg);
}
.hamburger-button--open .hamburger-button__icon-line--center {
  transform: scale(0);
}
.hamburger-button--open .hamburger-button__icon-line--bottom {
  transform: translateY(-11px) rotate(-45deg);
}

.menu {
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 767px) {
  .menu {
    position: fixed;
    flex-direction: column;
    overflow: auto;
    top: 65px;
    height: calc(100vh - 65px);
    width: 100%;
    background: #122c3a;
    color: #ffffff;
    transform: translateX(100%);
    transition: transform 0.3s ease-out;
    padding: 30px 0;
  }
  .menu--open {
    transform: none;
  }
}
@media only screen and (min-width: 768px) {
  .menu {
    height: 100%;
  }
}
@media only screen and (max-width: 767px) {
  .menu__item {
    width: 100%;
    text-align: center;
  }
}
@media only screen and (min-width: 768px) {
  .menu__item {
    height: 100%;
  }
}
.menu__item-link {
  font-size: 24px;
  text-decoration: none;
  color: #ffffff;
}
@media only screen and (max-width: 767px) {
  .menu__item-link {
    display: block;
    width: 100%;
    padding: 20px 0;
  }
}
@media only screen and (min-width: 768px) {
  .menu__item-link {
    font-weight: bold;
    height: 100%;
    display: flex;
    align-items: center;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .menu__item-link {
    padding: 0 6vw;
  }
}
@media only screen and (min-width: 1024px) {
  .menu__item-link {
    padding: 0 7vw;
  }
  .menu__item-link:hover {
    background: #a60000;
  }
}
.menu__item-link--active {
  background: #a60000;
}

.footer {
  width: 100%;
  text-align: center;
  color: #ffffff;
  background: #122c3a;
  border-top: 5px solid #a60000;
}
@media only screen and (max-width: 767px) {
  .footer {
    font-size: 18px;
  }
}
@media only screen and (min-width: 768px) {
  .footer {
    font-size: 20px;
  }
}
@media only screen and (max-width: 767px) {
  .footer {
    padding: 30px 25px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .footer {
    padding: 30px 6vw;
  }
}
@media only screen and (min-width: 1024px) {
  .footer {
    padding: 30px 7vw;
  }
}
.footer__address {
  display: flex;
  margin: 20px 0;
}
@media only screen and (max-width: 767px) {
  .footer__address {
    flex-direction: column;
  }
}
@media only screen and (min-width: 768px) {
  .footer__address {
    flex-direction: row;
    justify-content: center;
  }
}
@media only screen and (max-width: 767px) {
  .footer__address-element:not(:last-of-type) {
    margin-bottom: 5px;
  }
}
@media only screen and (min-width: 768px) {
  .footer__address-element:not(:last-of-type)::after {
    content: "|";
    padding: 0 10px;
  }
}

.topic {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
@media only screen and (max-width: 767px) {
  .topic {
    padding: 75px 25px 100px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .topic {
    padding: 75px 6vw 150px;
    min-height: 500px;
  }
}
@media only screen and (min-width: 1024px) {
  .topic {
    padding: 80px 7vw 170px;
    min-height: 500px;
  }
}
.topic::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: skewY(-4deg);
  transform-origin: top left;
}
.topic:nth-of-type(odd) {
  color: #ffffff;
  background: #122c3a;
}
.topic:nth-of-type(odd)::after {
  background: #122c3a;
}
.topic:nth-of-type(even) {
  color: #122c3a;
  background: #deeaf6;
}
.topic:nth-of-type(even)::after {
  background: #deeaf6;
}
.topic__text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 650px;
  line-height: 1.3;
}
@media only screen and (max-width: 767px) {
  .topic__text-wrapper {
    font-size: 18px;
  }
}
@media only screen and (min-width: 768px) {
  .topic__text-wrapper {
    font-size: 20px;
  }
}
.topic__title {
  font-weight: bold;
}
@media only screen and (max-width: 767px) {
  .topic__title {
    font-size: 24px;
  }
}
@media only screen and (min-width: 768px) {
  .topic__title {
    font-size: 30px;
  }
}
@media only screen and (max-width: 1023px) {
  .topic__title {
    margin-bottom: 20px;
  }
}
@media only screen and (min-width: 1024px) {
  .topic__title {
    margin-bottom: 30px;
  }
}
@media only screen and (max-width: 767px) {
  .topic__image {
    max-width: 150px;
    margin-top: 40px;
  }
}
@media only screen and (min-width: 768px) {
  .topic__image {
    max-width: 175px;
    margin-top: 50px;
  }
}
@media only screen and (max-width: 767px) {
  .topic__list {
    align-self: flex-start;
  }
}
.topic__form {
  display: flex;
  flex-direction: column;
  color: #122c3a;
  max-width: 500px;
  width: 100%;
}
@media only screen and (max-width: 767px) {
  .topic__form {
    font-size: 18px;
  }
}
@media only screen and (min-width: 768px) {
  .topic__form {
    font-size: 20px;
  }
}
@media only screen and (max-width: 767px) {
  .topic__form-label {
    padding: 30px 0 10px 30px;
  }
}
@media only screen and (min-width: 768px) {
  .topic__form-label {
    padding: 40px 0 10px 30px;
  }
}
.topic__form-label--focus {
  font-weight: bold;
}
.topic__form-input {
  padding: 10px 30px;
  height: 50px;
  border-radius: 25px;
  background: #ffffff;
  border-style: none;
  outline: none;
  position: relative;
}
@media only screen and (max-width: 767px) {
  .topic__form-input {
    font-size: 18px;
  }
}
@media only screen and (min-width: 768px) {
  .topic__form-input {
    font-size: 20px;
  }
}
.topic__form-input:focus {
  box-shadow: 0 0 0 2pt #122c3a;
}
.topic__form-submit {
  height: 50px;
  border-radius: 25px;
  margin-top: 50px;
  border: none;
  background: #122c3a;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 767px) {
  .topic__form-submit {
    font-size: 18px;
  }
}
@media only screen and (min-width: 768px) {
  .topic__form-submit {
    font-size: 20px;
  }
}

.header-wrapper {
  position: relative;
}

.image-gallery {
  width: 100%;
  position: relative;
  height: 50vw;
  max-height: 700px;
  min-height: 350px;
  overflow: hidden;
}
.image-gallery::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(39, 39, 39, 0.7);
}
.image-gallery__title {
  line-height: 1.25;
  font-weight: bold;
  font-family: Courier New, Courier, monospace;
  z-index: 1;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
  color: #ffffff;
}
@media only screen and (max-width: 767px) {
  .image-gallery__title {
    font-size: 40px;
  }
}
@media only screen and (min-width: 768px) {
  .image-gallery__title {
    font-size: 65px;
  }
}
@media only screen and (max-width: 767px) {
  .image-gallery__title {
    padding: 0 5%;
  }
}
@media only screen and (min-width: 768px) {
  .image-gallery__title {
    padding: 0 50px;
  }
}
.image-gallery__image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
.image-gallery__image--visible {
  opacity: 1;
}

.social-media {
  position: relative;
  display: flex;
  height: 0;
  overflow: visible;
  transform: skewY(-4deg);
  transform-origin: top left;
  z-index: 9;
}
@media only screen and (max-width: 767px) {
  .social-media {
    justify-content: space-between;
    padding: 0 25px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .social-media {
    justify-content: flex-end;
    right: 6vw;
  }
}
@media only screen and (min-width: 1024px) {
  .social-media {
    justify-content: flex-end;
    right: 7vw;
  }
}
.social-media__link {
  border-style: solid;
  border-color: #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #122c3a;
}
@media only screen and (max-width: 767px) {
  .social-media__link {
    border-width: 3px;
    width: 45px;
    height: 45px;
    transform: translateY(-50%);
  }
}
@media only screen and (min-width: 768px) {
  .social-media__link {
    border-width: 4px;
    width: 60px;
    height: 60px;
    margin-left: 40px;
    transform: translateY(-35%);
  }
}
.social-media__link:hover {
  background: #a60000;
}
.social-media__icon {
  padding: 5px;
  transform: rotate(4deg);
}
@media only screen and (max-width: 767px) {
  .social-media__icon {
    width: 30px;
  }
}
@media only screen and (min-width: 768px) {
  .social-media__icon {
    width: 40px;
  }
}

.filter-wrapper {
  display: flex;
}
@media only screen and (max-width: 767px) {
  .filter-wrapper {
    flex-direction: column;
    padding: 30px 25px 0;
  }
}
@media only screen and (min-width: 768px) {
  .filter-wrapper {
    justify-content: center;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .filter-wrapper {
    padding: 100px 6vw 0;
  }
}
@media only screen and (min-width: 1024px) {
  .filter-wrapper {
    padding: 100px 7vw 0;
  }
}

.filter {
  color: #ffffff;
}
@media only screen and (max-width: 767px) {
  .filter {
    margin-top: 30px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .filter {
    margin: 0 50px;
  }
}
@media only screen and (min-width: 1024px) {
  .filter {
    margin: 0 100px;
  }
}
.filter__title {
  font-weight: bold;
  margin-bottom: 10px;
}
@media only screen and (max-width: 767px) {
  .filter__title {
    font-size: 20px;
  }
}
@media only screen and (min-width: 768px) {
  .filter__title {
    font-size: 25px;
  }
}
.filter__group {
  display: flex;
  flex-direction: column;
}
.filter__checkbox {
  display: none;
}
.filter__label {
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 45px;
  text-decoration: line-through;
  display: block;
}
@media only screen and (max-width: 767px) {
  .filter__label {
    font-size: 18px;
  }
}
@media only screen and (min-width: 768px) {
  .filter__label {
    font-size: 20px;
  }
}
.filter__label::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  border: 1px solid #ffffff;
  border-radius: 50%;
}
.filter__checkbox:checked + .filter__label {
  text-decoration: none;
}
.filter__checkbox:checked + .filter__label::before {
  background: url(../icons/checkmark.svg);
  background-size: 20px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.events {
  font-family: Courier New, Courier, monospace;
  color: #333333;
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
}
@media only screen and (max-width: 767px) {
  .events {
    margin-top: 30px;
  }
}
@media only screen and (min-width: 768px) {
  .events {
    align-items: center;
    margin-top: 75px;
  }
}
.events::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 10px;
  background: #eeeeee;
}
@media only screen and (max-width: 767px) {
  .events::before {
    left: 25px;
  }
}
@media only screen and (min-width: 768px) {
  .events::before {
    left: 50%;
    transform: translateX(-50%);
  }
}

.event {
  position: relative;
}
@media only screen and (max-width: 767px) {
  .event {
    margin: 25px 25px 25px 30px;
    padding: 10px 10px 9vw 40px;
    max-width: 500px;
  }
}
@media only screen and (min-width: 768px) {
  .event {
    margin: 40px 0;
    transform: translateX(50%);
    padding: 35px 20px;
  }
  .event:nth-of-type(2n) {
    padding-left: 80px;
  }
  .event:nth-of-type(2n - 1) {
    transform: translateX(-50%);
    padding-right: 80px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .event {
    width: 45%;
  }
}
@media only screen and (min-width: 1024px) {
  .event {
    width: 500px;
  }
}
.event::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  transform: translate(50%, -50%);
  border-style: solid;
  border-color: #ffffff;
  border-radius: 50%;
}
@media only screen and (max-width: 767px) {
  .event::before {
    width: 22px;
    height: 22px;
    border-width: 3px;
  }
}
@media only screen and (min-width: 768px) {
  .event::before {
    width: 45px;
    height: 45px;
    border-width: 6px;
  }
}
@media only screen and (min-width: 768px) {
  .event:nth-of-type(2n - 1)::before {
    left: 100%;
    right: 0;
    transform: translate(-50%, -50%);
  }
}
.event--bot::before {
  background: #a60000;
}
.event--dojo::before {
  background: #c7b800;
}
.event__date {
  font-weight: bold;
  margin: 6px 0;
}
@media only screen and (max-width: 767px) {
  .event__date {
    font-size: 24px;
  }
}
@media only screen and (min-width: 768px) {
  .event__date {
    font-size: 30px;
  }
}
.event__name {
  margin-bottom: 12px;
}
@media only screen and (max-width: 767px) {
  .event__name {
    font-size: 20px;
  }
}
@media only screen and (min-width: 768px) {
  .event__name {
    font-size: 25px;
  }
}
.event__location {
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 767px) {
  .event__location {
    font-size: 20px;
  }
}
@media only screen and (min-width: 768px) {
  .event__location {
    font-size: 25px;
  }
}
.event__location::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(../icons/location.svg);
  background-size: 20px 20px;
  background-repeat: no-repeat;
  padding-right: 10px;
}
.event__open-more-information {
  font-family: Courier New, Courier, monospace;
  background: transparent;
  border: 2px solid #333333;
  height: 40px;
}
@media only screen and (max-width: 767px) {
  .event__open-more-information {
    font-size: 18px;
  }
}
@media only screen and (min-width: 768px) {
  .event__open-more-information {
    font-size: 20px;
  }
}
@media only screen and (max-width: 767px) {
  .event__open-more-information {
    width: 100%;
    margin: 25px 0 0;
  }
}
@media only screen and (min-width: 768px) {
  .event__open-more-information {
    width: 180px;
    margin: 40px 0 20px;
  }
}
.event__more-information {
  display: block;
  margin: 10px 0;
}
@media only screen and (max-width: 767px) {
  .event__more-information {
    font-size: 18px;
  }
}
@media only screen and (min-width: 768px) {
  .event__more-information {
    font-size: 20px;
  }
}
.event__more-information--hidden {
  display: none;
}
.event__outer-background, .event__inner-background {
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
}
.event__outer-background {
  overflow: hidden;
  left: 0;
}
.event__outer-background::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-style: solid;
  border-width: 25px 25px 25px 0;
  border-color: transparent #eeeeee transparent transparent;
}
@media only screen and (max-width: 767px) {
  .event__outer-background::after {
    left: 15px;
  }
}
@media only screen and (min-width: 768px) {
  .event__outer-background::after {
    right: calc(100% - 1px - 60px);
  }
}
@media only screen and (min-width: 768px) {
  .event:nth-of-type(2n - 1) .event__outer-background::after {
    left: calc(100% - 1px - 60px);
    right: 0;
    border-width: 25px 0 25px 25px;
    border-color: transparent transparent transparent #eeeeee;
  }
}
.event__inner-background {
  background-color: #eeeeee;
  transform: skewY(-4deg);
  transform-origin: top left;
}
@media only screen and (max-width: 767px) {
  .event__inner-background {
    left: 30px;
  }
}
@media only screen and (min-width: 768px) {
  .event__inner-background {
    left: 60px;
  }
}
@media only screen and (min-width: 768px) {
  .event:nth-of-type(2n - 1) .event__inner-background {
    right: 60px;
    left: 0;
  }
}

@media only screen and (max-width: 767px) {
  .board-member {
    margin-bottom: 30px;
  }
}
@media only screen and (min-width: 768px) {
  .board-member {
    margin-bottom: 50px;
  }
}
.board-member__name-wrapper {
  display: flex;
}
@media only screen and (max-width: 767px) {
  .board-member__name-wrapper {
    flex-direction: column;
  }
}
.board-member__name {
  font-weight: bold;
}
@media only screen and (max-width: 767px) {
  .board-member__name {
    font-size: 20px;
  }
}
@media only screen and (min-width: 768px) {
  .board-member__name {
    font-size: 25px;
  }
}
@media only screen and (max-width: 767px) {
  .board-member__name {
    padding-bottom: 5px;
  }
}
.board-member__twitter-name {
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 767px) {
  .board-member__twitter-name {
    padding-bottom: 5px;
  }
}
@media only screen and (min-width: 768px) {
  .board-member__twitter-name {
    padding-left: 20px;
  }
}
.board-member__twitter-name::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  padding-right: 3px;
  background: url(../icons/twitter--dark-blue.svg);
  background-repeat: no-repeat;
}

.download {
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 767px) {
  .download {
    flex-direction: column;
  }
}
.download__name {
  white-space: nowrap;
}
.download__icon {
  width: 50px;
  height: auto;
}
@media only screen and (max-width: 767px) {
  .download__icon {
    margin-bottom: 10px;
  }
}
@media only screen and (min-width: 768px) {
  .download__icon {
    margin-right: 20px;
  }
}

.information-page {
  text-align: center;
  color: #ffffff;
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 767px) {
  .information-page {
    padding: 10vh 25px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .information-page {
    padding: 200px 6vw;
  }
}
@media only screen and (min-width: 1024px) {
  .information-page {
    padding: 200px 7vw;
  }
}
.information-page__title {
  font-weight: bold;
  margin: 20px 0;
}
@media only screen and (max-width: 767px) {
  .information-page__title {
    font-size: 24px;
  }
}
@media only screen and (min-width: 768px) {
  .information-page__title {
    font-size: 30px;
  }
}
.information-page__info {
  line-height: 1.5;
  margin: 20px 0;
}
@media only screen and (max-width: 767px) {
  .information-page__info {
    font-size: 18px;
  }
}
@media only screen and (min-width: 768px) {
  .information-page__info {
    font-size: 20px;
  }
}

/*# sourceMappingURL=styles.css.map */
